@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "AllCustomers";
}

<h2>Customers</h2>

<ul>
    @foreach (var customer in Model.Customers)
    {
        <li><a href="#">@customer.Name</a></li>
    }
</ul>

